
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #174E71;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-around; /* Ensure items are equally spaced */
    background-color: black; /* Add black background */
    padding: 1rem; /* Add padding for spacing */
    list-style-type: none;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem; /* Add padding for spacing around text */
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
}

.card-container {
    display: flex;
    gap: 1rem;
}

.card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    box-sizing: border-box;
    position: relative; /* Make the card a positioned element */
}

.card-wide {
    flex: 3; /* Make this card twice as wide */
    padding-right: 10px;
}
h3 {
    text-align: center;
}
/*.country p2 {
    padding: 300px 20px 20px;
}*/
/*.country {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 4 / 5;
    justify-items: center;
    padding: 30px;
    column-gap: 30px;
}
*/

.card-narrow {
    flex: 1; /* Make this card standard width */
} 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
h4 {
    text-align: center;
}

.card h2 {
    margin-top: 0;
    background-color: #174E71; /* Add blue background to card headings */
    color: #fff; /* Ensure the text is readable with white color */
    padding: 0.5rem; /* Add some padding for better appearance */
    border-radius: 10px 10px 0 0; /* Round the top corners */
}


.card-wide p {
    padding-right: 200px; /* Add 200px padding to the right of the paragraph in card-wide */
}
.card-wide p2 {
    padding: 200px 20px 20px 20px; /* Adding left padding explicitly */
}

.card ul {
    padding-left: 20px;
}

.card .image-container {
    position: absolute;
    top: 80px; /* Adjust the position from the top to leave a 10px gap below the header */
    right: 10px; /* Adjust the position from the right */
}

.card .image-container img {
    width: 200px; /* Adjust size as needed */
    height: auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #174E71;
    color: #fff;
}

